### ANALISIS EXPLORATORIO DE DATOS ARCHIVO FIELDS_3.CSV

In [1]:
# Librerias o dependencias
import pandas as pd
import numpy as np

In [2]:
# Lectura del archivo
fields = pd.read_csv("../Datos/Fields_3.csv")
print("Longitud del datset: ",fields.shape)
fields.head(5)

Longitud del datset:  (4004, 10)

,ID_PROD,ID_LOTE,ID_FINCA,NOMBRE_LOTE,TIPO_LOT,LATITUD_LOT,LONGITUD_LOT,ALTURA_LOT,AREA_LOT,NOMBRE_MUN
0,1398,1425,1296,LA ESMERALDA,3,6.616889,-73.101306,1638,1.50,CURITÍ
1,1438,1489,1336,LOTE 2,3,6.605944,-73.091944,1637,0.75,CURITÍ
2,951,861,821,EL PEDREGAL,3,6.641540,-73.064260,1694,1.00,CURITÍ
3,922,826,790,ACONCAGUA,3,6.666102,-73.063755,1728,1.00,CURITÍ
4,1034,914,902,LA BASTILLA,3,6.635283,-73.087317,1852,0.75,CURITÍ

In [5]:
# Información basica del dataset
fields.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4004 entries, 0 to 4003
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID_PROD       4004 non-null   int64
 1   ID_LOTE       4004 non-null   int64
 2   ID_FINCA      4004 non-null   int64
 3   NOMBRE_LOTE   3948 non-null   object
 4   TIPO_LOT      4004 non-null   int64
 5   LATITUD_LOT   4004 non-null   float64
 6   LONGITUD_LOT  4004 non-null   float64
 7   ALTURA_LOT    4004 non-null   int64
 8   AREA_LOT      4004 non-null   float64
 9   NOMBRE_MUN    4004 non-null   object
dtypes: float64(3), int64(5), object(2)
memory usage: 312.9+ KB

In [6]:
# Cantidad de nulos y valores faltantes en c/u de las columnas
fields.isnull().sum()

ID_PROD          0
ID_LOTE          0
ID_FINCA         0
NOMBRE_LOTE     56
TIPO_LOT         0
LATITUD_LOT      0
LONGITUD_LOT     0
ALTURA_LOT       0
AREA_LOT         0
NOMBRE_MUN       0
dtype: int64

*Nota* La mayoria de los valores de cada una de las columnas tiene la infromación completa por consiguiente, se a decidido mantener todo el conjunto de datos.