In [2]:
from unidecode import  unidecode
s = 'CERETÉ'
unidecode(s)

'CERETE'

In [3]:
# Calculo de la diferenica entre 2 fechas
from datetime import datetime
navidad = datetime.strptime("2021-12-25", "%Y-%m-%d")
fin_anio = datetime.strptime("2021-12-31", "%Y-%m-%d")
diferencia = fin_anio-navidad
print(f"La diferencia es de {diferencia.days} días y {diferencia.seconds} segundos. La diferencia total es de {diferencia.total_seconds()} segundos")

La diferencia es de 6 días y 0 segundos. La diferencia total es de 518400.0 segundos

In [5]:
import pandas as pd
df = pd.DataFrame({'A': 'a a b'.split(),
                   'B': [1,2,3],
                   'C': [4,6,5]})
g1 = df.groupby('A')
g2 = df.groupby('A', group_keys=True)

In [6]:
df

   A  B  C
0  a  1  4
1  a  2  6
2  b  3  5

In [7]:
df.groupby('A', group_keys=False)

In [9]:
g1[['B', 'C']].count()

   B  C
A
a  2  2
b  1  1

In [14]:
def function1(x):
    if x < 3:
        z = x / x.sum()
    else:
        z=x
    return z

In [15]:
df.groupby('A')[['B', 'C']].apply(lambda x: function1(x))

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [18]:
d = {'yearmonth': [201202,201202,201202,201203,201203], 'return': [0.922132, 0.220270,0.228856,0.277170,0.747347]}
df1 = pd.DataFrame(data=d)

In [19]:
df1

   yearmonth    return
0     201202  0.922132
1     201202  0.220270
2     201202  0.228856
3     201203  0.277170
4     201203  0.747347

In [24]:
def add_mkt_return(grp):
    if grp["return"] < 0.3:
        grp['mkt_return'] = grp['return'].count()
    else:
        grp['mkt_return'] = 0
    return grp

In [1]:
# Suponiendo que se  tiene un vetor
vector_A = [2,5,6]
print("La suma del vector es: ",sum(vector_A))

La suma del vector es:  13

In [5]:
import pandas as pd
dfPrueba = pd.DataFrame([('FrL',9,11,40),('FAr',22,27,40),('FA',50,61,40)], columns=["textura","acm","porc","id"])
dfPrueba

  textura  acm  porc  id
0     FrL    9    11  40
1     FAr   22    27  40
2      FA   50    61  40

In [6]:
# Tengo otro nuevo dataset
# Se crea un nuevo dataframe donde se almacenan las diferentes texturas del suelo
tablaTexturas = pd.DataFrame(["A","Ar","ArA","ArL","FrL","L","F","ArF","FAr","FA","AF"], columns=['textura'])
tablaTexturas

   textura
0        A
1       Ar
2      ArA
3      ArL
4      FrL
5        L
6        F
7      ArF
8      FAr
9       FA
10      AF

In [11]:
copia2 = tablaTexturas.set_index('textura').join(dfPrueba.set_index('textura')).reset_index(drop=False)
copia2

   textura   acm  porc    id
0        A   NaN   NaN   NaN
1       Ar   NaN   NaN   NaN
2      ArA   NaN   NaN   NaN
3      ArL   NaN   NaN   NaN
4      FrL   9.0  11.0  40.0
5        L   NaN   NaN   NaN
6        F   NaN   NaN   NaN
7      ArF   NaN   NaN   NaN
8      FAr  22.0  27.0  40.0
9       FA  50.0  61.0  40.0
10      AF   NaN   NaN   NaN

In [14]:
# Quiero unir estos 2 dataframes por medio de la clave Textura
copia3 = tablaTexturas.set_index('textura').join(dfPrueba.set_index('textura')).reset_index(drop=False)
copia3

   textura   acm  porc    id
0        A   NaN   NaN   NaN
1       Ar   NaN   NaN   NaN
2      ArA   NaN   NaN   NaN
3      ArL   NaN   NaN   NaN
4      FrL   9.0  11.0  40.0
5        L   NaN   NaN   NaN
6        F   NaN   NaN   NaN
7      ArF   NaN   NaN   NaN
8      FAr  22.0  27.0  40.0
9       FA  50.0  61.0  40.0
10      AF   NaN   NaN   NaN

In [17]:
# Para unir o concatenar varios datasets
dataFinall = pd.concat([copia2,copia3], ignore_index=True)
dataFinall

   textura   acm  porc    id
0        A   NaN   NaN   NaN
1       Ar   NaN   NaN   NaN
2      ArA   NaN   NaN   NaN
3      ArL   NaN   NaN   NaN
4      FrL   9.0  11.0  40.0
5        L   NaN   NaN   NaN
6        F   NaN   NaN   NaN
7      ArF   NaN   NaN   NaN
8      FAr  22.0  27.0  40.0
9       FA  50.0  61.0  40.0
10      AF   NaN   NaN   NaN
11       A   NaN   NaN   NaN
12      Ar   NaN   NaN   NaN
13     ArA   NaN   NaN   NaN
14     ArL   NaN   NaN   NaN
15     FrL   9.0  11.0  40.0
16       L   NaN   NaN   NaN
17       F   NaN   NaN   NaN
18     ArF   NaN   NaN   NaN
19     FAr  22.0  27.0  40.0
20      FA  50.0  61.0  40.0
21      AF   NaN   NaN   NaN