In [2]:
from unidecode import  unidecode
s = 'CERETÉ'
unidecode(s)

'CERETE'

In [3]:
# Calculo de la diferenica entre 2 fechas
from datetime import datetime
navidad = datetime.strptime("2021-12-25", "%Y-%m-%d")
fin_anio = datetime.strptime("2021-12-31", "%Y-%m-%d")
diferencia = fin_anio-navidad
print(f"La diferencia es de {diferencia.days} días y {diferencia.seconds} segundos. La diferencia total es de {diferencia.total_seconds()} segundos")

La diferencia es de 6 días y 0 segundos. La diferencia total es de 518400.0 segundos

In [5]:
import pandas as pd
df = pd.DataFrame({'A': 'a a b'.split(),
                   'B': [1,2,3],
                   'C': [4,6,5]})
g1 = df.groupby('A')
g2 = df.groupby('A', group_keys=True)

In [6]:
df

   A  B  C
0  a  1  4
1  a  2  6
2  b  3  5

In [7]:
df.groupby('A', group_keys=False)

In [9]:
g1[['B', 'C']].count()

   B  C
A
a  2  2
b  1  1

In [14]:
def function1(x):
    if x < 3:
        z = x / x.sum()
    else:
        z=x
    return z

In [15]:
df.groupby('A')[['B', 'C']].apply(lambda x: function1(x))

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [18]:
d = {'yearmonth': [201202,201202,201202,201203,201203], 'return': [0.922132, 0.220270,0.228856,0.277170,0.747347]}
df1 = pd.DataFrame(data=d)

In [19]:
df1

   yearmonth    return
0     201202  0.922132
1     201202  0.220270
2     201202  0.228856
3     201203  0.277170
4     201203  0.747347

In [24]:
def add_mkt_return(grp):
    if grp["return"] < 0.3:
        grp['mkt_return'] = grp['return'].count()
    else:
        grp['mkt_return'] = 0
    return grp

In [25]:
df1.groupby('yearmonth').apply(add_mkt_return)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().